<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- 定义日志文件的保存目录，不要在LogBack中使用相对路径 -->
	<property name="LOG_HOME" value="d:\\tmp\\logs" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M\(%file:%line\) - [%r] - %msg%n</pattern>
		</encoder>
		<!-- 输出WARN及以上级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<!-- 滚动日志 -->
	<appender name="RFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${user.dir}/logs/http.%d{yyyy-MM-dd-HH}.out</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M\(%file:%line\) - [%r] - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 文件日志 -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.dir}/logs/http.out</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M\(%file:%line\) - [%r] - %msg%n</pattern>
		</encoder>
		<!-- 输出WARN及以上级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="RFILE" />
	</root>
</configuration>